@model AS_Management.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.ID" />
            <input type="hidden" asp-for="Animal.ID" />
            <input type="hidden" asp-for="Stay.ID" />
            <p>You are placing a comment on the following animal:</p>
            <ul>
                <li>Name: @Model.Animal.Name</li>
                <li>Description: @Model.Animal.Description</li>
                <li>Type: @Model.Animal.AnimalType</li>
                <li>Age: @Model.Animal.Age</li>
            </ul>
            <div class="form-group">
                <label asp-for="Comment.Content" class="control-label"></label>
                <input asp-for="Comment.Content" class="form-control" />
                <span asp-validation-for="Comment.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Date" class="control-label"></label>
                <input asp-for="Comment.Date" class="form-control" />
                <span asp-validation-for="Comment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.WrittenBy" class="control-label"></label>
                <input asp-for="Comment.WrittenBy" value="@User.Identity.Name" disabled="disabled" class="form-control" />
                <span asp-validation-for="Comment.WrittenBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
