@model IEnumerable<AS_Core.DomainModel.Stay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.AnimalType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Race)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.DateOfDeath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.Castrated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.ChildFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animal.ReasonGivenAway)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.AnimalType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Race)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Picture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.DateOfDeath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.Castrated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.ChildFriendly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal.ReasonGivenAway)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Animal.ID">Details</a> |
                    @Html.ActionLink("Reacties", "Index", "Comment", new { AnimalID = item.Animal.ID }, null) |
                    @Html.ActionLink("Reactie plaatsen", "Create", "Comment", new { AnimalID = item.Animal.ID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
