@model AS_Management.ViewModels.StayViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stay</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <p style="color: red; font-size: 16px;">@ViewBag.Message</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Stay.ID" />
            <input type="hidden" asp-for="Animal.ID" />
            <input type="hidden" asp-for="CurrentLodge.ID" />
            <div class="form-group">
                <p>This is the location of the following animal: </p>
                @Model.Animal.Name
            </div>
            <div class="form-group">
                <label asp-for="Stay.ArrivalDate" class="control-label"></label>
                <input asp-for="Stay.ArrivalDate" class="form-control" />
                <span asp-validation-for="Stay.ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stay.AdoptionDate" class="control-label"></label>
                <input asp-for="Stay.AdoptionDate" class="form-control" />
                <span asp-validation-for="Stay.AdoptionDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Stay.CanBeAdopted" /> @Html.DisplayNameFor(model => model.Stay.CanBeAdopted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Stay.AdoptedBy" class="control-label"></label>
                <input asp-for="Stay.AdoptedBy" class="form-control" />
                <span asp-validation-for="Stay.AdoptedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p>At this moment the animal resides here: </p>
                @Model.CurrentLodge.Description
            </div>
            <div class="form-group">
                <p>If you want to move said animal, please pick a location below</p>
                <label class="control-label">Available locations</label>
                <select asp-for="Lodge.ID" class="form-control">
                    <option value=""></option>
                    @foreach (var lodge in Model.Lodges)
                    {
                        <option value="@lodge.ID">@lodge.Description</option>
                    }
                </select>
                <span asp-validation-for="Lodge.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
